@{
    ViewData["Title"] = "Автосалон";
}
@model OwnerCars.Models.Owner

<h1>Редактировать владельца</h1>

@using (Html.BeginForm("EditOwner", "Owner", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Name, "Имя")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.SurName, "Фамилия")
            <br />
            @Html.EditorFor(m => m.SurName)
 
        </p>
        <p>
            @Html.LabelFor(m => m.Age, "Возраст")
            <br />
            @Html.EditorFor(m => m.Age)
        </p>
        <p>
            @Html.LabelFor(m => m.Email, "Email")
            <br />
            @Html.EditorFor(m => m.Email)
        </p>
        <p><input type="submit" value="Изменить" /></p>
    </fieldset>
}