@using OwnerCars.DataBase.Models
@model OwnerViewModel
@{
    ViewData["Title"] = "Автовалон";
}

<h1>База данных</h1>

<form method="get">
    <div>
        <label>Имя:</label>
        <input name="name" value="@Model.FilterViewModel.SelectedName" class="inputname" />

        <label>Фамилия:</label>
        <input name="surname" value="@Model.FilterViewModel.SelectedSurName" class="inputsurname" />

        <label>Возраст:</label>
        <input name="age" value="@Model.FilterViewModel.SelectedAge" class="inputage" />

        <input type="submit" value="Фильтр" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Views"
                asp-route-stateOrder="@(Model.SortViewModel.NameSort)"
                asp-route-name="@(Model.FilterViewModel.SelectedName)"
                asp-route-surname="@(Model.FilterViewModel.SelectedSurName)"
                asp-route-age="@(Model.FilterViewModel.SelectedAge)">Имя</a>
            </th>
            <th>
                <a asp-action="Views"
                asp-route-stateOrder="@(Model.SortViewModel.SurNameSort)"
                asp-route-name="@(Model.FilterViewModel.SelectedName)"
                asp-route-surname="@(Model.FilterViewModel.SelectedSurName)"
                asp-route-age="@(Model.FilterViewModel.SelectedAge)">Фамилия</a>
            </th>
            <th>
                <a asp-action="Views"
                   asp-route-stateOrder="@(Model.SortViewModel.AgeSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-surname="@(Model.FilterViewModel.SelectedSurName)"
                   asp-route-age="@(Model.FilterViewModel.SelectedAge)">Возраст</a>
            </th>
            <th>Email</th></tr>
    </thead>
    <tbody>        
        @foreach (var owner in Model.owners)
        {
            <tr >
                    <td >@owner.Name</td>
                    <td>@owner.SurName</td>
                    <td>@owner.Age</td>
                    <td>@owner.Email</td>
                <td>
                    <form asp-controller="Owner" method="get" asp-action="EditOwner" asp-route-id="@owner.Id">
                    <button>Изменить</button>
                    </form></td>
                    <td>
                    <form method="get" asp-action="Delete" asp-route-id="@owner.Id">
                        <button>Удалить</button>
                    </form>
                    </td>

            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
            <a asp-action="Views"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-stateOrder="@(Model.SortViewModel.Current)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-surname="@(Model.FilterViewModel.SelectedSurName)"
       asp-route-age="@(Model.FilterViewModel.SelectedAge)"
       class="btn btn-outline-dark">
                Назад
                <i class="glyphicon glyphicon-chevron-left"></i>

            </a>
}
@if (Model.PageViewModel.HasNextPage)
{
            <a asp-action="Views"
        asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
        asp-route-stateOrder="@(Model.SortViewModel.Current)"
        asp-route-name="@(Model.FilterViewModel.SelectedName)"
        asp-route-surname="@(Model.FilterViewModel.SelectedSurName)"
        asp-route-age="@(Model.FilterViewModel.SelectedAge)"
       class="btn btn-outline-dark">
           Вперед
            </a>
}