@using OwnerCars.DataBase.Models
@model OwnerViewModel
@{
    ViewData["Title"] = "Автовалон";
}

<h1>База данных</h1>

<table class="table">
    <thead>
        <tr>
            <th><a asp-action="Views" asp-route-stateOrder="NameSort">Имя</a></th>
            <th><a asp-action="Views" asp-route-stateOrder="SurNameSort">Фамилия</a></th>
            <th><a asp-action="Views" asp-route-stateOrder="AgeSort">Возраст</a></th>
            <th>Email</th></tr>
    </thead>
    <tbody>        
        @foreach (var owner in Model.owners)
        {
            <tr >
                    <td >@owner.Name</td>
                    <td>@owner.SurName</td>
                    <td>@owner.Age</td>
                    <td>@owner.Email</td>
                <td>
                    <form asp-controller="Owner" method="get" asp-action="EditOwner" asp-route-id="@owner.Id">
                    <button>Изменить</button>
                    </form></td>
                    <td>
                    <form method="get" asp-action="Delete" asp-route-id="@owner.Id">
                        <button>Удалить</button>
                    </form>
                    </td>

            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
            <a asp-action="Views"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
                Назад
                <i class="glyphicon glyphicon-chevron-left"></i>

            </a>
}
@if (Model.PageViewModel.HasNextPage)
{
            <a asp-action="Views"
        asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
           Вперед
            </a>
}