@model CarViewModel
@{
    ViewData["Title"] = "Автовалон";
}

<h1>База данных</h1>
<form method="get">
    <div>
        <label>Марка:</label>
        <input name="brand" value="@Model.FilterViewModel.SelectedBrand" class="inputbrand" />
        <label>Компания:</label>
        <select name="owner" asp-items="Model.FilterViewModel.Owners"></select>
        <input type="submit" value="Фильтр" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th><a>Фото</a></th>
            <th>
                <a asp-action="Index" asp-route-stateOrder="@Model.SortViewModel.BrandSort"
                asp-route-owner="@Model.FilterViewModel.SelectedOwner"
                asp-route-brand="@Model.FilterViewModel.SelectedBrand">Марка</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-stateOrder="@Model.SortViewModel.ModelSort"
                   asp-route-owner="@Model.FilterViewModel.SelectedOwner"
                   asp-route-brand="@Model.FilterViewModel.SelectedBrand">Модель</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-stateOrder="@Model.SortViewModel.YearSort"
                   asp-route-owner="@Model.FilterViewModel.SelectedOwner"
                   asp-route-brand="@Model.FilterViewModel.SelectedBrand">Год выпуска</a>
                </th>
            <th>
                <a asp-action="Index" asp-route-stateOrder="@Model.SortViewModel.PowerSort"
                   asp-route-owner="@Model.FilterViewModel.SelectedOwner"
                   asp-route-brand="@Model.FilterViewModel.SelectedBrand">Мощность</a>
                </th>
            <th>
                <a asp-action="Index" asp-route-stateOrder="@Model.SortViewModel.OwnerSort"
                   asp-route-owner="@Model.FilterViewModel.SelectedOwner"
                   asp-route-brand="@Model.FilterViewModel.SelectedBrand">Владелец</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td><img class="imagecar" src="@Url.Content(car.Path)"/></td>
                <td>@Html.DisplayFor(item => car.Brand)</td>
                <td>@Html.DisplayFor(item => car.Model)</td>
                <td>@Html.DisplayFor(item => car.Year)</td>
                <td>@Html.DisplayFor(item => car.Power)</td>
                <td>@Html.DisplayFor(item => car.Owner.Name)</td>
                <td>
                    <form method="get" asp-action="Edit" asp-route-id="@car.Id">
                        <button>Изменить</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-action="Delete" asp-route-id="@car.Id">
                        <button>Удалить</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
        asp-route-owner="@Model.FilterViewModel.SelectedOwner"
        asp-route-brand="@Model.FilterViewModel.SelectedBrand"
        asp-route-stateOrder ="@Model.SortViewModel.Current"
       class="btn btn-outline-dark">
            Назад
            <i class="glyphicon glyphicon-chevron-left"></i>
            
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
        asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
        asp-route-owner="@Model.FilterViewModel.SelectedOwner"
        asp-route-brand="@Model.FilterViewModel.SelectedBrand"
        asp-route-stateOrder="@Model.SortViewModel.Current"
       class="btn btn-outline-dark">
       Вперед
        </a>
    }
